* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.container {
    background: linear-gradient(135deg, #4203a9, #90bafc);
    min-height: 100vh;
    width: 100%;
    color: #fff;
    padding: 10px;
}

.calculate-box {
    width: 100%;
    max-width: 600px;
    margin: 100px;
}

.calculate-box h1 {
    font-size: 60px;
}

.calculate-box span {
    color: #ffff76;
}

.input-box {
    padding: 35px;
    border-radius: 10px;
    margin: 40px 0;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
}

.input-box input {
    flex: 1;
    margin-right: 20px;
    padding: 14px 20px;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
}

.input-box button {
    background: #ffff76;
    padding: 15px 30px;
    border: 0;
    outline: 0;
    font-weight: 500;
    border-radius: 5px;
    color: #333;
    cursor: pointer;
}

.input-box input::-webkit-calendar-picker-indicator {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    position: absolute;
    background-position: calc(100% - 10px);
    height: auto;
    background-size: 20px;
    cursor: pointer;
}

#displayResult {
    font-size: 20px;
}

#displayResult span {
    color: #ffff76;
}